nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  nav li {
    margin: 0 20px;
    position: relative;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #007bff; /* Change this to the desired underline color */
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s;
  }
  
  nav li:hover a {
    color: #007bff; /* Change this to the desired link color on hover */
  }
  
  nav li:hover a::before {
    transform: scaleX(1);
  }
  